src/score_amrit.py
src/cutoff_classic_plain.py
tests/locustfile_azure.py

# Byte-compiled / optimized / compiled Python files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
venv/
.venv/
env/
.env/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environments
.env
.env.*.local
*.env
*.env.*

# Data and Logs
*.log
*.csv
*.dat
*.sqlite3
*.db

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Django stuff:
*.migrations/

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# Jupyter Notebook config
.ipynb_checkpoints/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre
.pyre/

# Pylint
.pylint.d/

# Pyright
.pyright/

# Editor and IDE settings
.vscode/
.idea/
*.swp
*.swo
*~

# macOS / Windows system files
.DS_Store
Thumbs.db

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
lib/
lib64/
parts/
sdist/
wheels/
pip-wheel-metadata/
*.manifest
*.spec
__pypackages__/

# Poetry
poetry.lock

# Pyre type checker
.pyre/
